<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>SaleFilter</filter-name>
        <filter-class>filter.SaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SaleFilter</filter-name>
        <url-pattern>/sale/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MarketingFilter</filter-name>
        <url-pattern>/marketing/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.user.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>controller.user.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>controller.user.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleMangeServlet</servlet-name>
        <servlet-class>controller.order.SaleMangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderSale</servlet-name>
        <servlet-class>controller.order.ListOrderSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleManageDetail</servlet-name>
        <servlet-class>controller.order.SaleManageDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RejectServlet</servlet-name>
        <url-pattern>/reject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/admin/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/admin/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleMangeServlet</servlet-name>
        <url-pattern>/salemanage/salemanageDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderSale</servlet-name>
        <url-pattern>/sale/ListOrderSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleManageDetail</servlet-name>
        <url-pattern>/salemanage/smdetail</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomePage</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MarketingFilter</filter-name>
        <filter-class>filter.MarketingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controller.home.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectServlet</servlet-name>
        <servlet-class>controller.user.RejectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>controller.user.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>controller.user.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogPostList</servlet-name>
        <servlet-class>controller.blog.BlogPostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostcategoryController</servlet-name>
        <servlet-class>controller.blog.PostcategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetail</servlet-name>
        <servlet-class>controller.blog.BlogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>controller.customer.CustomerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.customer.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.product.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAddItemController</servlet-name>
        <servlet-class>controller.cart.CartAddItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartViewController</servlet-name>
        <servlet-class>controller.cart.CartViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <servlet-class>controller.customer.CustomerDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostList</servlet-name>
        <servlet-class>controller.blog.PostList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogPostList</servlet-name>
        <url-pattern>/BlogPostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/verifyemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostcategoryController</servlet-name>
        <url-pattern>/Postcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetail</servlet-name>
        <url-pattern>/BlogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customerlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAddItemController</servlet-name>
        <url-pattern>/CartAddItemController</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>CartViewController</servlet-name>
        <url-pattern>/CartViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailServlet</servlet-name>
        <url-pattern>/customerDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostList</servlet-name>
        <url-pattern>/PostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.dashboard.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/adminDashBoard</url-pattern>
    </servlet-mapping>
</web-app>
