<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
          <welcome-file-list>
                    <welcome-file>HomePage</welcome-file>
          </welcome-file-list>
          <servlet>
                    <servlet-name>HomePage</servlet-name>
                    <servlet-class>controller.home.HomePage</servlet-class>
          </servlet>
          <servlet-mapping>
                    <servlet-name>HomePage</servlet-name>
                    <url-pattern>/HomePage</url-pattern>
          </servlet-mapping>
          <servlet>
                    <servlet-name>AuthenticationServlet</servlet-name>
                    <servlet-class>controller.user.AuthenticationServlet</servlet-class>
          </servlet>
          <servlet>
                    <servlet-name>VerifyServlet</servlet-name>
                    <servlet-class>controller.user.VerifyServlet</servlet-class>
          </servlet>
          <servlet>
                    <servlet-name>BlogPostList</servlet-name>
                    <servlet-class>controller.blog.BlogPostList</servlet-class>
          </servlet>
          <servlet>
                    <servlet-name>PostcategoryController</servlet-name>
                    <servlet-class>controller.blog.PostcategoryController</servlet-class>
          </servlet>
          <servlet>
                    <servlet-name>BlogDetail</servlet-name>
                    <servlet-class>controller.blog.BlogDetail</servlet-class>
          </servlet>
          <servlet>
                    <servlet-name>CustomerListServlet</servlet-name>
                    <servlet-class>controller.customer.CustomerListServlet</servlet-class>
          </servlet>
          <servlet>
                    <servlet-name>AddCustomerServlet</servlet-name>
                    <servlet-class>controller.customer.AddCustomerServlet</servlet-class>
          </servlet>
          <servlet>
                    <servlet-name>CartAddItemController</servlet-name>
                    <servlet-class>controller.cart.CartAddItemController</servlet-class>
          </servlet>
          <servlet>
                    <servlet-name>CartViewController</servlet-name>
                    <servlet-class>controller.cart.CartViewController</servlet-class>
          </servlet>
          <servlet>
                    <servlet-name>CustomerDetailServlet</servlet-name>
                    <servlet-class>controller.customer.CustomerDetailServlet</servlet-class>
          </servlet>
          <servlet-mapping>
                    <servlet-name>AuthenticationServlet</servlet-name>
                    <url-pattern>/authen</url-pattern>
          </servlet-mapping>
          <servlet-mapping>
                    <servlet-name>BlogPostList</servlet-name>
                    <url-pattern>/BlogPostList</url-pattern>
          </servlet-mapping>
          <servlet-mapping>
                    <servlet-name>VerifyServlet</servlet-name>
                    <url-pattern>/verifyemail</url-pattern>
          </servlet-mapping>
          <servlet-mapping>
                    <servlet-name>PostcategoryController</servlet-name>
                    <url-pattern>/Postcategory</url-pattern>
          </servlet-mapping>
          <servlet-mapping>
                    <servlet-name>BlogDetail</servlet-name>
                    <url-pattern>/BlogDetail</url-pattern>
          </servlet-mapping>
          <servlet-mapping>
                    <servlet-name>CustomerListServlet</servlet-name>
                    <url-pattern>/customerList</url-pattern>
          </servlet-mapping>
          <servlet-mapping>
                    <servlet-name>CustomerListServlet</servlet-name>
                    <url-pattern>/customerlist</url-pattern>
          </servlet-mapping>
          <servlet-mapping>
                    <servlet-name>AddCustomerServlet</servlet-name>
                    <url-pattern>/addCustomer</url-pattern>
          </servlet-mapping>
          <servlet-mapping>
                    <servlet-name>CartAddItemController</servlet-name>
                    <url-pattern>/CartAddItemController</url-pattern>
          </servlet-mapping>
          <!--    <servlet-mapping>
              <servlet-name>AddToCartController</servlet-name>
              <url-pattern>/add</url-pattern>
          </servlet-mapping>-->
          <servlet-mapping>
                    <servlet-name>CartViewController</servlet-name>
                    <url-pattern>/CartViewController</url-pattern>
          </servlet-mapping>
          <servlet-mapping>
                    <servlet-name>CustomerDetailServlet</servlet-name>
                    <url-pattern>/customerDetail</url-pattern>
          </servlet-mapping>
</web-app>
