/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 25, 2025, 3:18:29 PM
    Author     : naokh
*/

.offer-items .offer{
          margin-bottom:10px
}
.offer{
}
.offer .stt{
          margin-bottom:5px
}
.offer .stt label{
          background:#F7941E 0% 0% no-repeat padding-box;
          box-shadow:0 4px 6px #00000029;
          border-radius:3px;
          display:inline-block;
          padding:3px 5px;
          font-size:11px;
          color:#fff
}
.offer .offer-border{
          border:1px solid #ddd;
          border-radius:4px;
          padding:8px 10px 5px 10px;
          display:flex;
          align-items:stretch;
          justify-content:stretch
}
.offer .offer-border .content{
          flex-basis:100%
}
.offer .offer-border .icon{
          width:25px
}
.offer .offer-border .icon i{
          display:block;
          margin-right:5px;
          background:#00483D 0% 0% no-repeat padding-box;
          border-radius:14px;
          text-align:center;
          width:14px;
          line-height:14px;
          height:14px;
          border-radius:14px;
          font-size:9px;
          color:#fff
}
.offer .offer-border .content{
          flex:1
}
.offer .offer-border .content label{
          display:block;
          margin-bottom:6px
}
.offer .offer-border .content .red{
          color:#FD475A
}
.offer .offer-border .content .radio-ctn{
          margin-bottom:6px
}
.offer .offer-border .content .radio-ctn span{
          display:block;
          line-height:24px
}
.cart-form{
}
.cart-form h3{
          font-size:20px;
          margin:0 0 25px
}
.cart-form .row{
          margin-bottom:15px;
          display:flex;
          width:100%;
          justify-content:center;
          justify-items:stretch
}
.cart-form .row .control{
          padding:0 12px;
          background:#E5E5E5 0% 0% no-repeat padding-box;
          border-radius:13px;
          border:1px solid #E5E5E5;
          display:flex;
          justify-items:stretch;
          width:100%
}
.cart-form .row .control-button{
          text-align:center;
          background:none
}
.cart-form .row .col{
          flex-basis:100%;
          margin-right:20px;
          display:flex;
          justify-items:stretch
}
.cart-form input,.cart-form textarea,.cart-form select{
          outline:none;
          width:100%;
          background:none;
          border:none;
          font-family:-apple-system,BlinkMacSystemFont,'Inter';
          font-size:13px;
          color:#444;
          padding:10px 0
}
.cart-form .control-button{
          margin-top:10px
}
.cart-form .control-button button{
          background:transparent linear-gradient(180deg,#009981 0%,#00483D 100%) 0% 0% no-repeat padding-box;
          font-weight:bold;
          border:none;
          outline:none;
          box-shadow:0 4px 6px #00000029;
          border-radius:8px;
          color:#fff;
          font-size:15px;
          text-align:center;
          padding:20px 50px
}
.cart-form .control-button button:hover{
          background:#00483D
}
.cart-form textarea{
          min-height:90px
}
.cart .cart-layout .cart-form .row .errors{
          border-color:#FD475A
}
.cart-total{
          margin-top:15px;
          background:#FFFFFF 0% 0% no-repeat padding-box;
          box-shadow:0 4px 6px #00000029;
          border-radius:8px;
          padding:15px;
          margin-bottom:40px
}
.cart-total p{
          margin:0 0 6px 0;
          font-weight:bold
}
.cart-total p i{
          font-weight:normal
}
.cart-total .next{
          display:none
}
.order-infomation{
          background:#FFFFFF 0% 0% no-repeat padding-box;
          box-shadow:0 4px 6px #00000029;
          border-radius:8px;
          padding:15px;
          margin-bottom:20px
}
.cart-form .row .control-cbx{
          border:none;
          background:none;
          margin:10px 0 0 -10px
}
.cart-form .shVAT{
          display:none
}
.cart-form label>input[type="checkbox"]{
          display:none
}
.cart-form label>input[type="checkbox"] + *::before{
          content:"";
          display:inline-block;
          vertical-align:bottom;
          width:1rem;
          height:1rem;
          margin-right:0.3rem;
          border-radius:10%;
          border-style:solid;
          border-width:0.1rem;
          border-color:red;
          flex-shrink:0
}
.cart-form label>input[type="checkbox"]:checked + *{
          color:teal
}
.cart-form label>input[type="checkbox"]:checked + *::before{
          content:"✓";
          color:white;
          text-align:center;
          background:teal;
          border-color:teal
}
.cart-form label>input[type="checkbox"] + *{
          display:inline-flex;
          padding:5px 0
}
.quick-order{
          max-width:1200px!important
}
.quick-order .quick-order-ctn{
          display:flex;
          padding:10px 10px 20px 10px
}
.quick-order .quick-order-ctn .left{
          width:45%;
          margin-right:30px;
          margin-top:10px
}
.quick-order .left .img{
          padding:0 30px;
          margin:auto;
          text-align:center
}
.quick-order .left .img img{
          max-width:90%
}
.quick-order .left p.title{
          font-weight:bold;
          font-size:15px
}
.quick-order .left p.price{
          font-size:20px
}
.quick-order .left p.price strong{
          color:#FD475A
}
.quick-order .left .info{
          text-align:center
}
.quick-order .left .info p{
          margin:0 0 5px 0
}
.quick-order .left .info p strike{
          font-size:15px
}
.quick-order .hot-line{
          margin:10px 0 15px 0;
          text-align:center
}
.quick-order .hot-line a{
          display:flex;
          white-space:nowrap;
          align-items:center;
          margin:0 auto 10px auto;
          line-height:40px;
          color:#fff;
          padding:0 10px;
          font-size:15px;
          background:transparent linear-gradient(88deg,#009981 0%,#00483D 100%) 0% 0% no-repeat padding-box;
          box-shadow:0 4px 6px #00000029;
          border-radius:20px;
          width:135px
}
.quick-order .hot-line a i{
          margin-right:10px;
          font-size:20px
}
.quick-order .right{
          width:55%
}
.quick-order .right h3{
          margin-top:0;
          font-size:20px
}
.quick-order-form{
}
.quick-order-form .row{
          margin-bottom:8px
}
.quick-order-form .row .control{
          padding:0 10px
}
.quick-order-form .row .errors{
          border-color:#FD475A
}
.quick-order-form input,.quick-order-form textarea,.quick-order-form select{
          padding:6px 0
}
.quick-order-form .row .col{
          display:block;
          padding-right:10px
}
.quick-order-form label{
          font-weight:bold;
          font-size:12px
}
.quick-order-form textarea{
          min-height:60px
}
.quick-order-form .control-button button{
          padding:10px 50px;
          border-radius:5px
}
.quick-order .grid-options{
}
.quick-order .options{
          display:flex;
          flex-flow:row wrap
}
.quick-order .grid-options label{
          margin-bottom:3px;
          display:block;
          font-size:12px
}
.quick-order .options .option{
          margin-right:10px;
          margin-bottom:10px
}
.quick-order .options .option a{
          display:block;
          background:#FFFFFF 0% 0% no-repeat padding-box;
          border:1px solid #C8C8C8;
          border-radius:3px;
          padding:5px 10px
}
.quick-order .options .option a.changeOption:hover{
          border-color:#FD475A
}
.quick-order .options .option a.selectedOption{
          border:2px solid #009981;
          cursor:default
}
.quick-order .options .option a.selectedOption *{
          cursor:default
}
.quick-order .options .option a.changeOption *{
          cursor:pointer
}
.quick-order .options .option label{
          display:flex;
          line-height:22px;
          margin-bottom:2px
}
.quick-order .options .option label i{
          border:2px solid #696969;
          width:20px;
          height:20px;
          display:block;
          border-radius:50%;
          text-align:center;
          margin-right:10px
}
.quick-order .options .option label i.icon-border{
          content:" "
}
.quick-order .options .option label span{
          font-size:12px;
          font-weight:bold;
          color:#333
}
.quick-order .options .option strong{
          display:block
}
.quick-order .number{
          margin:8px 0
}
.quick-order .number{
}
.quick-order .number label{
          font-weight:bold;
          font-size:12px
}
.quick-order .number .control{
          display:flex;
          margin-top:5px
}
.quick-order .number .control input,.quick-order .number .control button{
          width:24px;
          height:24px;
          font-size:14px;
          text-align:center;
          line-height:24px;
          padding:0;
          margin:0;
          overflow:hidden;
          border:1px solid #C4C4C4;
          background:#fff;
          border-right:none
}
.quick-order .number .control button{
          height:26px;
          line-height:26px
}
.quick-order .number .control *:last-child{
          border-right:1px solid #C4C4C4
}
p.quick-order-ss,p.quick-order-ss *{
          font-size:19px;
          margin:10px 0;
          text-transform:uppercase
}
p.quick-order-ss strong,p.quick-order-ss strong a{
          color:#ffc875
}
.installment-v2{
          display:flex;
          margin:30px 0
}
.installment-v2 .info{
          width:33%;
          margin-right:40px
}
.installment-v2 .info .image{
          padding:10px
}
.installment-v2 .info .image img{
          width:100%
}
.installment-v2 .data{
          flex-basis:100%
}
.installment-v2 table tr:nth-child(even){
          background:#efefef
}
.installment-v2 table tr:nth-child(odd),.installment-v2 table tr:nth-child(odd) th{
          background:#fff;
          color:#333
}
.installment-v2 .options{
          display:flex;
          justify-content:start;
          margin-top:20px
}
.installment-v2 .options .item{
          margin-right:20px
}
.installment-v2 .options .item strong{
          display:block;
          margin-bottom:5px
}
.installment-v2 .options .item label{
          padding:8px 20px;
          border:2px solid #00483D;
          border-radius:3px;
          display:flex
}
.installment-v2 .options label i{
          display:block;
          margin-right:5px;
          background:#00483D 0% 0% no-repeat padding-box;
          border-radius:14px;
          text-align:center;
          width:14px;
          line-height:14px;
          height:14px;
          border-radius:14px;
          font-size:9px;
          color:#fff
}
.installment-v2 .options label span{
          display:block;
          line-height:14px
}
.installment-v2 .price-info{
          margin-top:20px
}
.installment-v2 .price-info p{
          margin:0 0 5px 0;
          padding:0
}
.installment-v2 .price-info label{
          font-weight:bold;
          color:#999
}
.installment-v2 .price-info .price-note strong{
          font-size:25px;
          font-weight:bold;
          color:#FD475A
}
.installment-v2 .header{
}
.installment-v2 .header ul{
          list-style:none;
          padding:0;
          margin:0;
          display:flex;
          justify-content:center;
          justify-items:center
}
.installment-v2 .header ul li{
          margin:0 5px
}
.installment-v2 .header ul li a{
          display:block;
          text-align:center;
          margin:5px 0;
          min-width:320px;
          padding:15px 0;
          border-radius:8px;
          box-shadow:0 4px 6px #ccc;
          background:#fff;
          color:#555;
          font-weight:bold
}
.installment-v2 .header ul li a:hover{
          color:#009981
}
.installment-v2 .header ul li a.actived{
          color:#fff;
          background:#00483D;
          padding:20px 0;
          margin:0
}
.installment-v2 .month-opt{
          margin:15px 0;
          font-size:12px
}
.installment-v2 .month-opt h4{
          margin:0 0 5px 0
}
.installment-v2 ul{
          list-style:none;
          padding:0;
          margin:0;
          display:flex
}
.installment-v2 ul li{
          margin-right:6px
}
.installment-v2 ul li a{
          display:block;
          padding:6px 18px;
          border:1px solid #ccc;
          color:#555;
          font-weight:bold
}
.installment-v2 ul li a:hover{
          color:#009981;
          border:1px solid #009981
}
.installment-v2 ul li a.actived{
          color:#009981;
          border:1px solid #009981;
          background:#fff
}
.installment-v2 select.select-opt{
          border:1px solid #009981;
          color:#009981;
          padding:4px 8px
}
.payment-opt{
          border:1px solid #ddd;
          border-radius:4px;
          padding:10px 5px 5px 5px;
          display:flex;
          align-items:stretch;
          justify-content:stretch;
          margin-right:-20px
}
.payment-opt label span{
          display:block;
          line-height:20px;
          font-size:13px
}
.payment-selected{
          color:#00483D;
          border-color:#00483D
}
.checkbox-ctn{
          display:block;
          position:relative;
          padding-left:35px;
          margin-bottom:12px;
          cursor:pointer;
          font-size:15px;
          -webkit-user-select:none;
          -moz-user-select:none;
          -ms-user-select:none;
          user-select:none
}
.checkbox-ctn input{
          position:absolute;
          opacity:0;
          cursor:pointer;
          height:0;
          width:0
}
.checkmark{
          position:absolute;
          top:0;
          left:0;
          height:25px;
          width:25px;
          background-color:#eee
}
.checkbox-ctn:hover input ~ .checkmark{
          background-color:#ccc
}
.checkbox-ctn input:checked ~ .checkmark{
          background-color:#009981
}
.checkmark:after{
          content:"";
          position:absolute;
          display:none
}
.checkbox-ctn input:checked ~ .checkmark:after{
          display:block
}
.checkbox-ctn .checkmark:after{
          left:9px;
          top:5px;
          width:5px;
          height:10px;
          border:solid white;
          border-width:0 3px 3px 0;
          -webkit-transform:rotate(45deg);
          -ms-transform:rotate(45deg);
          transform:rotate(45deg)
}
.radio-ctn{
          display:block;
          position:relative;
          padding-left:25px;
          margin-bottom:12px;
          cursor:pointer;
          -webkit-user-select:none;
          -moz-user-select:none;
          -ms-user-select:none;
          user-select:none
}
.radio-ctn input{
          position:absolute;
          opacity:0;
          cursor:pointer;
          height:0;
          width:0
}
.radio-ctn .checkmark{
          position:absolute;
          top:0;
          left:0;
          height:16px;
          width:16px;
          background-color:#fff;
          border-radius:50%;
          border:1px solid #aaa
}
.radio-ctn:hover input ~ .checkmark{
          background-color:#ccc
}
.radio-ctn input:checked ~ .checkmark{
          background-color:white;
          border:2px solid #009981
}
.radio-ctn .checkmark:after{
          content:"";
          position:absolute;
          display:none
}
.radio-ctn input:checked ~ .checkmark:after{
          display:block
}
.radio-ctn .checkmark:after{
          top:2px;
          left:2px;
          width:12px;
          height:12px;
          border-radius:50%;
          background:#009981
}
.cart-form .row .voucher-button{
          background:#444;
          color:#fff;
          border:none;
          border-radius:0 10px 10px 0;
          margin-right:-10px;
          text-wrap:nowrap;
          padding:5px 15px
}
.cart-form .row .voucher-button:hover{
          background:#009981;
          cursor:pointer
}
@media only screen and (max-width:800px){
          .cart-form .control-button{
                    margin-top:0
          }
          .quick-order .quick-order-ctn{
                    display:flex;
                    flex-direction:column;
                    padding:0
          }
          .quick-order .quick-order-ctn .left{
                    margin-top:10px;
                    width:auto;
                    margin-right:0
          }
          .quick-order .left .img{
                    padding:0 30px;
                    margin:auto;
                    text-align:center
          }
          .quick-order .left .img img{
                    max-width:160px
          }
          .quick-order .left p.title{
                    font-weight:bold;
                    font-size:15px
          }
          .quick-order .left p.price{
                    font-size:20px
          }
          .quick-order .left p.price strong{
                    color:#FD475A
          }
          .quick-order .left .info{
                    text-align:center
          }
          .quick-order .left .info p{
                    margin:0 0 5px 0
          }
          .quick-order .left .info p strike{
                    font-size:15px
          }
          .quick-order .hot-line{
                    margin:10px 0 15px 0;
                    text-align:center
          }
          .quick-order .hot-line a{
                    display:flex;
                    white-space:nowrap;
                    align-items:center;
                    margin:0 auto 10px auto;
                    line-height:40px;
                    color:#fff;
                    padding:0 10px;
                    font-size:15px;
                    background:transparent linear-gradient(88deg,#009981 0%,#00483D 100%) 0% 0% no-repeat padding-box;
                    box-shadow:0 4px 6px #00000029;
                    border-radius:20px;
                    width:135px;
                    justify-content:center
          }
          .quick-order .hot-line a i{
                    margin-right:10px;
                    font-size:20px
          }
          .quick-order .right{
                    width:auto
          }
          .quick-order .right h3{
                    margin-top:0;
                    font-size:20px
          }
          .quick-order-form{
          }
          .quick-order-form .row{
                    margin-bottom:8px
          }
          .quick-order-form .row .control{
                    padding:0 10px
          }
          .quick-order-form .row .errors{
                    border-color:#FD475A
          }
          .quick-order-form input,.quick-order-form textarea,.quick-order-form select{
                    padding:6px 0
          }
          .quick-order-form .row .col{
                    display:block;
                    padding-right:15px;
                    margin-right:10px
          }
          .quick-order-form label{
                    font-weight:bold;
                    font-size:12px
          }
          .quick-order-form textarea{
                    min-height:60px
          }
          .quick-order-form .control-button button{
                    padding:10px 50px;
                    border-radius:5px
          }
          .quick-order .grid-options{
          }/*	.quick-order .options{display:grid;margin-bottom:10px;grid-template-columns:auto auto;grid-column-gap:10px}*/
          .quick-order .grid-options label{
                    margin-bottom:3px;
                    display:block;
                    font-size:12px
          }
          .quick-order .options .option{
                    margin-bottom:10px
          }
          .quick-order .options .option a{
          }
          .quick-order .options .option a.changeOption:hover{
                    border-color:#FD475A
          }
          .quick-order .options .option a.selectedOption{
                    border:2px solid #009981;
                    cursor:default
          }
          .quick-order .options .option a.selectedOption *{
                    cursor:default
          }
          .quick-order .options .option a.changeOption *{
                    cursor:pointer
          }
          .quick-order .options .option label{
                    display:flex;
                    line-height:22px;
                    margin-bottom:2px
          }
          .quick-order .options .option label i{
                    border:2px solid #696969;
                    width:20px;
                    height:20px;
                    display:block;
                    border-radius:50%;
                    text-align:center;
                    margin-right:10px
          }
          .quick-order .options .option label i.icon-border{
                    content:" "
          }
          .quick-order .options .option label span{
                    font-size:12px;
                    font-weight:bold;
                    color:#333
          }
          .quick-order .options .option strong{
                    display:block
          }
          .quick-order .number{
                    margin:8px 0
          }
          .quick-order .number{
          }
          .quick-order .number label{
                    font-weight:bold;
                    font-size:12px
          }
          .quick-order .number .control{
                    display:flex;
                    margin-top:5px
          }
          .quick-order .number .control input,.quick-order .number .control button{
                    width:24px;
                    height:24px;
                    font-size:14px;
                    text-align:center;
                    line-height:24px;
                    padding:0;
                    margin:0;
                    overflow:hidden;
                    border:1px solid #C4C4C4;
                    background:#fff;
                    border-right:none
          }
          .quick-order .number .control button{
                    height:26px;
                    line-height:26px
          }
          .quick-order .number .control *:last-child{
                    border-right:1px solid #C4C4C4
          }
          p.quick-order-ss,p.quick-order-ss *{
                    font-size:19px;
                    margin:10px 0;
                    text-transform:uppercase
          }
          p.quick-order-ss strong,p.quick-order-ss strong a{
                    color:#ffc875
          }
}