/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 28, 2025, 12:44:17 PM
    Author     : naokh
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

.blog_list .blog_item .blog_link{
   width: 100%;
   display: block;
   border-color: black;
}

.blog_list .blog_link .blog_image{
   width: 100px;
   display: block;
   background: black;
   padding: 1px;
   border-radius: 12px;
   border-color: black;
   text-decoration: none;
}

.blog_list .blog_link .blog_image{
   width: 100%;
   aspect-ratio: 16 / 9;
   object-fit: cover;
   border-color: black;
   border-radius: 10px;
}

.blog_list .blog_link .badge{
   color: black;
   padding 1px 2px;
   font-size: 0.95rem;
   font-weight: 500;
   margin-bottom: 10px;
   background: #26a69a;
   width: fit-content;
   border-radius: 50px;
   border-color: black;
}

ul {
   display: block;
   list-style-type: disc;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 0px;
   unicode-bidi: isolate;
}